body {
    background-color: #0d1137;
    background-image: url('space-image.webp');
    background-blend-mode: color-dodge;
}

.navbar {
    background-color: black;
    border-radius: 30px;
    margin-top:2%
}

.navbar li {
    display: inline-block;
    list-style: none;
    margin: 13px 20px;
}

.navbar ul {
    overflow: auto;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.glow {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #00e6e6, 0 0 px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    animation: glowing 2s linear infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }
}

.glow:hover {
    font-size: 20px;
    color: red;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px #00e6e6, 0 0 50px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    animation: glowing 2s linear infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }
}


.glow {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #00e6e6, 0 0 px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    animation: glowing 2s linear infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    }
}

.navbar {
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px #00e6e6, 0 0 50px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
}

/*  */

/* .about-me-section {
    text-align: right;
    animation: fade-in 1s ease-out;
  }
   */
#abt{
    background-color: rgba(255, 255, 255, 0.1);
    position:absolute;
    text-align: center;
    margin-left:30%;
    margin-top:2%;
    padding:8px;
    border-radius: 4%;
    box-shadow: 0 0 5px red, 0 0 10px black, 0 0 15px black;

}

#aboutMe {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slide-down 3s ease-in-out;
    margin:auto;
    color:#32CD32;
    text-shadow: 0 0 10px darkcyan, 0 0 10px darkblue, 0 0 10px darkcyan;
}

#profile-image{
    width:200px;
    height:200px;
}

#persImage{
    margin-top: 10%; 
    margin-left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 4%;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #00e6e6, 0 0 px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    animation: glowing 2s linear infinite;
    box-shadow: 0 0 5px red, 0 0 10px black, 0 0 15px black;
    /* box-shadow: 0px 10px #034168; */
}

/* .about-me-section{
    animation: fade-in 3s ease-in-out;
   } */

.about-me-section {
    margin:auto;
    margin-top: 6.5%;
    background-color:  rgba(255, 255, 255,0.05);
    width:69%;
    height: 450px;
    border-radius:4%;
    box-shadow: 0 0 5px green, 0 0 5px green, 0 0 15px green, 0 0 2px #00e6e6, 0 0 5px #00e6e6, 0 0 8px green, 0 0 15px green, 0 0 15px green;
    animation: fade-in 4s ease-in-out;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#personalInfo{
    /* background-color: rgba(255, 255, 255,0.05); */
    text-align: center;
    margin-left:30%;
    margin-top: -20%;
}

#name{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#jobType{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#description{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 20px; */
}

#edu{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

#edu1{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

.projects {
    background-color: black;
    border-radius: 30px;
    margin-top:6%;
    box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px #00e6e6, 0 0 50px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6, 0 0 150px #00e6e6;
    width:50%;
}

.projects li {
    display: inline-block;
    list-style: none;
    margin: 10px 8px;
    text-align: center;
}

.projects ul {
    overflow: auto;
}

.projects li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.project1 {
    background-color:  rgba(255, 255, 255,0.05);
    width:300px;
    margin-top:4%;
    margin-left:2%;
    border-radius:4%
}
  
.project1 img {
    width: 150px;
    padding: 30px ;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.project1 h4{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    opacity:1;
    margin-top:-10px;
}

.project1 p{
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:-30px;
    padding-bottom:15px;
    opacity:1;
}

.project1 .lang{
    opacity: 0;
    position:absolute;
    justify-content: center;
    top:160%;
    left:13%;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;
    animation: glowing 2s linear infinite;
}


.project1:hover .lang{
    opacity:1;
}

.project1:hover .text{
    opacity:1;
    filter: blur(5px);
}

.project1:hover .ph{
    opacity:1;
    filter: blur(5px);
}

.project1:hover img{
    opacity:1;
    filter: blur(5px);
}

.project1:hover .project1 .lang{
    opacity:1;
    filter:blur(0px);
}
